<app-menu></app-menu>

<div class="container" >
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>
      <h3 style="text-align: center;">¿Cómo fué su viaje?</h3>
      <canvas style="text-align:center;" id="grafico1">
      </canvas>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>
      <h3 style="text-align: center;">¿Se cumplió la ruta indicada?</h3>
      <canvas style="text-align:center;" id="grafico2">
      </canvas>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
    <div>
      <h3 style="text-align: center;">¿Cuál fue la puntualidad del vehículo?</h3>
      <canvas style="text-align:center;" id="grafico3">
      </canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      <h3 style="text-align: center;">¿En qué condición estaba el vehículo?</h3>
      <canvas style="text-align:center;" id="grafico4">
      </canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      <h3 style="text-align: center;">Destaque lo bueno de nuestra página web</h3>
      <canvas style="text-align:center;" id="grafico5">
      </canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      <h3 style="text-align: center;">¿A quiénes nos recomendaría?</h3>
      <canvas style="text-align:center;" id="grafico6">
      </canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
    <div>
      <h3 style="text-align: center;">Puntúenos por favor</h3>
      <canvas style="text-align:center;" id="grafico7">
      </canvas>
    </div>
  </div>
</div>




<!--<div style="margin-left: 700px; width:500px;height:500px;">
  <h3 style="text-align: center;">A cuantos les gusto su viaje:</h3>
<canvas style="text-align:center;" id="grafico3">
</canvas>
</div>-->